<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <enforceFIPSPolicy enabled="false"/>
    <AppContextSwitchOverrides value="Switch.System.Net.DontEnableSchUseStrongCrypto=false"/>
  </runtime>
  <appSettings>
    <!--BD 172.21.140.28-->
    <add key="pathCentral" value="AIT.Atm.App.C3ntr4l"/>
    <add key="host" value="Ly83r+dZTwdQ35C8u9fq2MPmZxwImKNw2qmVfhGapHE="/>
    <add key="port" value="AxCocyDPj3CPohHE/6NkSXXdNSR0nOsh/1q8MR8fnWg="/>
    <add key="nombreServicio" value="E7iJjUbkwNTMAyvFiEdK/Mia4Cr41MAtRtcfp3x4oOg="/>
    <add key="user" value="2I5WbEnqoGJ+dhNfo4+yI+/6KXARZWof79jTBeAYJwA="/>
    <add key="password" value="/KG5jX+eNpx6Y6tsRiF+UwKKhgvaTy5N/OoqPQHXXis="/>

    <!--Variable Ruta de almacenamiento de Logs-->
    <add key="PathLogs" value="C:\\AIT\\Core\\Log\\Sky\\" />
    <add key="NombreArchivoLog" value="CargaDatSky" />
    <add key="rutaExcel" value="..\\..\\FileData\\LayoutAutomatizarApisEnrollSky.xlsx" />
  </appSettings>
</configuration>